footer {
  //ul
  ul {
    //li
    li {
      margin: 0 30px 0 0;
      //a
      a {
        //img
        img {
          width: $social-media-icons;
          <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            email: "thiagopbertolino@gmail.com", // Email
            call_to_action: "Contact me", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
        }
        //end img
      }
      //end a
    }
    //en li
  }
  //End ul
}
